<div class="background">
  <div class="search-container">
    <input
      type="text"
      placeholder="Buscar herói..."
      [(ngModel)]="busca"
      class="search-input"
    />

    <select [(ngModel)]="filtroPublisher" class="publisher-select">
      <option value="todos">Todos</option>
      <option value="Marvel Comics">Marvel</option>
      <option value="DC Comics">DC</option>
    </select>
  </div>
  <ul class="grid">
    <li
      class="card container"
      (click)="irParaDetails(heroi)"
      *ngFor="let heroi of heroisFiltrados()"
    >
      <div class="esconde-dados">
        <img class="card-imagem" [src]="heroi?.images?.md" />
        <p class="heroi-nome">{{ heroi.name }}</p>
      </div>
      <div class="fica-stats container">
        <div class="stat" *ngFor="let stat of getPowerStats(heroi)">
          <div class="stat-top">
            <span>{{ stat.name }}</span>
            <span>{{ stat.value }}</span>
          </div>

          <div class="stat-bar">
            <div
              class="stat-fill"
              [style.width.%]="stat.value"
              [ngClass]="{
                low: stat.value < 30,
                medium: stat.value >= 30 && stat.value < 70,
                high: stat.value >= 70,
              }"
            ></div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
