<ul>
  <li (click)="irParaDetails(heroi)" *ngFor="let heroi of herois">
    <!-- aqui eu tenho uma lista que mostra todos os meu herois-->
    <p>{{ heroi.name }}</p>
    <p>Inteligência: {{ heroi?.powerstats?.intelligence }}</p>
    <p>Força: {{ heroi?.powerstats?.strength }}</p>
    <p>Velocidade: {{ heroi?.powerstats?.speed }}</p>
    <p>Durabilidade: {{ heroi?.powerstats?.durability }}</p>
    <p>Poder: {{ heroi?.powerstats?.power }}</p>
    <p>Combate: {{ heroi?.powerstats?.combat }}</p>
    <!--aqui estou fazendo essa lista mostrar apenas o nome desses herois -->
  </li>
</ul>
