<style>
  @import url("https://fonts.googleapis.com/css2?family=Sekuya&display=swap");
</style>

<div class="background container">
  <div class="card container">
    <div class="section1">
      <h2>🧠 Poderes</h2>

      <p>Inteligência: {{ heroi?.powerstats?.intelligence }}</p>

      <p>Força: {{ heroi?.powerstats?.strength }}</p>

      <p>Velocidade: {{ heroi?.powerstats?.speed }}</p>

      <p>Durabilidade: {{ heroi?.powerstats?.durability }}</p>

      <p>Poder: {{ heroi?.powerstats?.power }}</p>

      <p>Combate: {{ heroi?.powerstats?.combat }}</p>
    </div>

    <div class="section1">
      <h2>🧬 Características</h2>

      <p>Gênero: {{ heroi?.appearance?.gender }}</p>

      <p>Raça: {{ heroi?.appearance?.race }}</p>

      <p>Altura: {{ heroi?.appearance?.height }}</p>

      <p>Peso: {{ heroi?.appearance?.weight }}</p>

      <p>Olhos: {{ heroi?.appearance?.eyeColor }}</p>

      <p>Cabelo: {{ heroi?.appearance?.hairColor }}</p>
    </div>

    <div class="name-image container">
      <h1 class="nome">{{ heroi?.name }}</h1>

      <img class="card-imagem" [src]="heroi?.images?.md" />

      <div class="biografia container">
        <h2 class="biografia-title">📖 Biografia</h2>

        <div class="biografia-descricao container">
          <p>Nome completo: {{ heroi?.biography?.fullName }}</p>

          <p>Alter ego: {{ heroi?.biography?.alterEgos }}</p>

          <p>Apelidos: {{ heroi?.biography?.aliases }}</p>

          <p>Nascimento: {{ heroi?.biography?.placeOfBirth }}</p>

          <p>Primeira aparição: {{ heroi?.biography?.firstAppearance }}</p>

          <p>Editora: {{ heroi?.biography?.publisher }}</p>

          <p>Alinhamento: {{ heroi?.biography?.alignment }}</p>
        </div>
      </div>
    </div>

    <div class="conexao-trabalho container">
      <div class="trabalho-title container">
        <h2>💼 Trabalho</h2>
      </div>
      <div class="trabalho-text container">
        <p>Ocupação: {{ heroi?.work?.occupation }}</p>

        <p>Base: {{ heroi?.work?.base }}</p>
      </div>

      <div class="conexao-title container">
        <h2>🔗 Conexões</h2>
      </div>

      <div class="conexao-text container">
        <p>Grupo: {{ heroi?.connections?.groupAffiliation }}</p>

        <p>Parentes: {{ heroi?.connections?.relatives }}</p>
      </div>
    </div>
  </div>
</div>
