<div class="background container">
  <div class="card container">
    <div class="poder-caracteristica container">
      <div class="poder-card">
        <h2 class="card-titulo poderes">Poderes</h2>

        <div class="stat" *ngFor="let stat of powerStats">
          <div class="stat-top">
            <span>{{ stat.name }}</span>
            <span>{{ stat.value }}</span>
          </div>

          <div class="stat-bar">
            <div
              class="stat-fill"
              [style.width.%]="stat.value"
              [ngClass]="{
                low: stat.value < 30,
                medium: stat.value >= 30 && stat.value < 70,
                high: stat.value >= 70,
              }"
            ></div>
          </div>
        </div>
      </div>

      <div class="info-card">
        <h2 class="card-titulo caracteristicas">Características</h2>

        <div *ngFor="let appear of appearance" class="item">
          <span class="label">{{ appear.name }}</span>
          <span class="valor">{{ appear.value }}</span>
        </div>
      </div>
    </div>

    <div class="name-image container">
      <h1 class="nome">{{ heroi?.name }}</h1>

      <img class="card-imagem" [src]="heroi?.images?.md" />

      <div class="info-card">
        <h2 class="card-titulo biografia">Biografia</h2>

        <div *ngFor="let item of biografia" class="item">
          <span class="label">{{ item.name }}</span>
          <span class="valor">{{ item.value }}</span>
        </div>
      </div>
    </div>

    <div class="trabalho-conexao container">
      <div class="info-card">
        <h2 class="card-titulo trabalho">Trabalho</h2>

        <div *ngFor="let item of trabalho" class="item">
          <span class="label">{{ item.name }}</span>
          <span class="valor">{{ item.value }}</span>
        </div>
      </div>

      <div class="info-card">
        <h2 class="card-titulo conexoes">Conexões</h2>

        <div *ngFor="let item of conexoes" class="item">
          <span class="label">{{ item.name }}</span>
          <span class="valor">{{ item.value }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
